*
{
    margin: 0;
    padding: 0;
    font-family: gillroy;
    box-sizing: border-box;
}
html,body
{
    height:100%;
width:100%;

}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    
    

}
#left{
    width: 40%;
    height: 100%;
    position: relative;
    



     
}
#lnav {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 20px 30px;
    

}

#lnavr a{
    margin: 20px;
    padding-top: 10px;
    text-decoration: none;
    color:black;
    font:weight 500;
    justify-content: space-between;


    
    
    
    
    
}
#lnavr i{
    color: royalblue;
    
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#textcenter h1{
    font: size 90px; 
    font-weight: 900;

}

#textcenter p{
    opacity: .6;
font-size: 12px;
line-height:20px;
margin-top: 20px;
margin-bottom: 20px;

}
#textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}




#lnavr{
    
    align-items: center;
    background-position: center;
    
}

#right{
    width: 60%;
    height: 100%;
    
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: royalblue;

}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: contain;
    background-position: center
    ;
}
#rtopleft{
    width: 55%;
    height:100% ;
    background-image: url(https://media.istockphoto.com/id/1290233518/photo/ginger-cat-portrait.jpg?s=612x612&w=0&k=20&c=V-_wnKjh4w4WqVLhe20t-9IUbUoF47odDU5683cr2LM=);
   background-size: cover; 
   background-position: center;

}
#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/174875518/photo/portrait-of-a-cat.jpg?s=612x612&w=0&k=20&c=SE_vULTESVciTOCLtUY2ODY_4BByz2_8cTxFy4jfWvQ=);
    background-size: cover;
    background-position:center ;

}
@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
     width: 100%;   
    }

}